<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SeraphimBranchServerMainDisplay</title>

    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./SeraphimBranchServerMainDisplay/favicon.ico">
</head>

<body>
    <app-root></app-root>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/runtime.js"></script>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/polyfills.js"></script>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/styles.js"></script>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/scripts.js"></script>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/vendor.js"></script>
    <script type="text/javascript" src="./SeraphimBranchServerMainDisplay/main.js"></script>
</body>

</html>